
/* Réinitialisation des styles par défaut */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
.connect {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5e6c4;
    border: 2px solid #38b6ff;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.connect a {
    color: #38b6ff;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    margin: 5px;
    padding: 5px;
}

.connect a img {
    width: 30px;
    height: 30px;
    border: none;
}

/* Styles pour le menu normal */
.menu-normal {
    background-color: #f5e6c4;
    font-family: 'visby-regular', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    color: #ff5757;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    /* Par défaut, montrez le menu normal */
}

header .logo img {
    width: 300px;
    align-items: center;
}

header nav a {
    color: #ff5757;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    position: relative;
}


/* Styles pour le menu burger */
.menu-burger {
    display: none;
    /* Par défaut, cachez le menu burger */
}


.menu-mobile {
    display: none;
    /* Par défaut, cachez le menu mobile */
    
} 
/* Media queries pour les écrans de petite taille */
@media (min-width: 300px) and (max-width: 1140px) {
    header nav {
        flex-wrap: wrap;
        justify-content: center;
        padding:2rem

    }
    header .logo img {
        width: 150px;
        margin: 10px;
    }
    header nav a {
        margin: 5px;
        padding: 5px;
        font-size: 16px;
    }
}
@media (min-width: 300px) and (max-width: 640px)
{
    footer .container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding:5px;

    }
    footer .logo img {
        width: 200px;
    }
    footer nav ul li a {
        padding: 10px;
        font-size: 16px;
    }
}
    

/* Styles pour le contenu */
main {
    padding: 1rem;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}

/* Styles pour le pied de page */
footer {
    background-color:  #000000;
    font-family: 'visby-regular', sans-serif;
    font-size: 1.2em;
    font-size: 20px;
    font-weight: bold;
}
.menu-normal-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.menu-mobile-footer {
    display: none;
    /* Par défaut, cachez le menu mobile */
    
} 
.logo {
    width: 300px;
    border-radius: 20px;
    margin: 0 auto; 
    align-items: center;
}

@media (max-width: 768px) {
    /* Cachez le menu normal sur les écrans plus petits */
    .menu-normal {
        display: none;
    }

    /* Montrez le menu burger sur les écrans plus petits */
    .menu-burger {
        display: flex;
        font-size: 20px;
        background-color: #f5e6c4;
        border: 2px solid #38b6ff;
        border-radius: 15px;
        padding: 5px;
        margin: 10px;
        cursor: pointer;
        justify-content: space-evenly;
        align-items: center;
    }
    .btn-menu-burger  
    {
        border: none;
        background: none;
    }
    .connect{
        display: inline;

    }
    /* Montrez le menu mobile sur les écrans plus petits */
    .menu-mobile.active{
        display: block;
        text-align: center;
        padding: 5px;
    }
    
    /* Montrez le menu mobile lorsque le menu burger est cliqué */
    .menu-burger:checked ~ .menu-mobile {
        display: block;
    }

    /* Styles pour les liens dans le menu mobile */
    .menu-mobile a {
        display: block;
        color: #ff5757;
        font-size: 20px;
        text-decoration: none;
        border-bottom: 2px solid #38b6ff;
    }
    .menu-mobile a:hover {
        color: #38b6ff;
    }
    /* Styles pour le dernier lien dans le menu mobile */
    .menu-mobile a:last-of-type {
        border-bottom: none;
    }

    /* Styles pour le menu burger footer */
    .menu-normal-footer{
        display: none;
    }


    /* Styles pour les liens dans le menu mobile */
    .menu-mobile-footer a:hover{
        color: #ff5757;
    }
    .menu-mobile-footer a {
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 10px;
        
    }
    /* Styles pour le dernier lien dans le menu mobile */
    .menu-mobile-footer a:last-of-type {
        border-bottom: none;
    }
    .menu-mobile-footer{
        display: flex;
        position: absolute;
        margin-left: 15%;
    }
}
