/* Animation */
@keyframes goodBerry {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes goodBerry2 {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Default font */
body {
    font-family: 'visby-regular', sans-serif;
    background-color: #f5e6c4;
}
#goodberry{
    background: url(/public/img/GB4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "goodberry";
    place-content: center;
    margin: auto;
    gap: 40px;
    align-items: center;
    justify-content: center;

}
/* Main title */
h1 {
    box-shadow: 0 0 10px 0 rgba(250, 248, 248, 0.934);
    border-radius: 10px;
    font-family: 'aswatama', sans-serif;
    font-weight: normal;
    font-size: 10rem;
    text-align: center;
    opacity: 0;
    animation: goodBerry 2s ease-in-out forwards;
}

#good {
    color: #ff5757;
}

#berry {
    color: #38b6ff;
}

#slogan {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation: goodBerry 3s ease-in-out forwards;
}

/* Subtitles */
#typed-text,
h3 {
    color: #333333;
    font-family: 'visby-regular', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* Paragraph */
p {
    background-color: #f8f1e2;
    color: #333333;
    font-family: 'visby-regular', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    padding: 2rem;
    animation: goodBerry2 6s ease-in-out forwards;
}

#presentation{
    background-color: #f8f1e2;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-family: 'aswatama', sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: 3rem;
        margin: 3rem auto 2rem;
    }
    h2,
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
        margin: 2rem auto;
        padding: 1.5rem;
    }
    #new-carousel {
        position: relative;
        top: 30%;
        left: 0;
        width: 100%;
    }
}
